@model EntityLayer.Concrete.Admin

@{
    ViewData["Title"] = "EditAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Düzenle</h2>
<br />
@using (Html.BeginForm("EditAdmin", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(b => b.AdminID)
    <br />
    @Html.Label("Kullanıcı Adı")
    <br />
    @Html.TextBoxFor(b => b.UserName, new { @class = "form-control", placeholder = "Kullanıcı Adı Giriniz." })
    <br />
    @Html.Label("Parola")
    <br />
    @Html.TextBoxFor(b => b.Password, new { @class = "form-control", placeholder = "Parola Giriniz." })
    <br />
    @Html.Label("Rol")
    <br />
    @Html.TextBoxFor(b => b.Role, new { @class = "form-control", placeholder = "Rol Giriniz." })
    <br />
    <button class="btn btn-outline-primary">Düzenle</button>
}