@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Writer.cshtml";
}

@*<div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="~/PurpleAdmin/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Weekly Sales <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">$ 15,0000</h2>
                <h6 class="card-text">Increased by 60%</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="~/PurpleAdmin/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Weekly Orders <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">45,6334</h2>
                <h6 class="card-text">Decreased by 10%</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="~/PurpleAdmin/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Visitors Online <i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">95,5741</h2>
                <h6 class="card-text">Increased by 5%</h6>
            </div>
        </div>
    </div>*@
<table class="table">
    <thead>
        <tr>
            <th> Başlık </th>
            <th> İçerik </th>
            <th> Kategori </th>
            <th> Tarih </th>
            <th> Durum </th>
            <th> Sil </th>
            <th> Düzenle </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
        <tr>
            <td>
                @blog.BlogTitle
            </td>
            <td>
                @(blog.BlogContent.Length > 20 ? blog.BlogContent.Substring(0, blog.BlogContent.Substring(0,20).LastIndexOf(" "))+"..." : blog.BlogContent + "...")
            </td>
            <td>
                @blog.Category.CategoryName
            </td>
            <td>
                @Convert.ToDateTime(blog.CreateDate).ToString("dd/MM/yyyy")
            </td>
            <td>
                @blog.BlogStatus
            </td>
            <td>
                <a href="~/Writer/DeleteBlog/@blog.BlogID" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="~/Writer/UpdateBlog/@blog.BlogID" class="btn btn-warning">Düzenle</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a href="~/Writer/AddBlog" class="btn btn-info">Yeni Blog Yaz</a>